<!--Bootstrap Dropdown-->
@* /*#region RegionName*/
    region on css
/*#endregion RegionName*/ *@
<li class="nav-item navbar_button_outline">
    <div class="dropdown">
        <a class="navbar_button_content navbar_button dropdown-toggle" id="userDropdownButton" data-toggle="dropdown">Üye İşlemleri / @Model.FirstName</a>
        <div class="dropdown-menu" aria-labelledby="userDropdownButton">
            <!-- Content for the user dropdown -->
            <a class="dropdown-item" href="#">User Item 1</a>
            <a class="dropdown-item" href="#">User Item 2</a>
        </div>
    </div>
</li>
