@model AppUser
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/mybuttons.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/font-awesome/css/all.css">


<nav class="navbar navbar-expand-lg bg-body-tertiary navbar_hidden" id="expandableNavbar">
    <div class="container-fluid ">

        <div class="centered_container">
            <div class="library_header">Medeniyet</div>
            <div class="d-flex navbar_right_outcontainer snap_navbar_content">
                <ul id="navbar_buttons_parent" class="navbar_right_container_row on_closed_bar_button_container_status">
                    @{

                        @if (Model?.Email == null || string.IsNullOrEmpty(Model.Email))
                        {
                            <li class="nav-item navbar_button_outline">
                                <a class="navbar_button_content navbar_button" onclick="Fudadw()" id="loginButton"><i class="fa-solid fa-sign-in fa-1x"></i> Login</a>
                            </li>
                        }
                        else
                        {
                           
                            <li class="nav-item navbar_button_outline member_dropdown_button">
                                <a class="navbar_button_content navbar_button member_dropdown_button_text expander"> <i class="fa-solid fa-user fa-1x"></i> / @Model.FirstName</a>
                                 @*<div class="member_line">
                                </div>*@
                            </li>
                        }
                    }
                 
                    <li class="nav-item navbar_button_outline">
                        <a class="navbar_button_content navbar_button">T</a>
                    </li>

                </ul>
            </div>
            <div id="member_operations_content" class="member_tab_selectables_parent snap_navbar_content">
    @*             <div class="nav-item member_dropdown_element">
                    <a class="navbar_button_content" onclick="Logout()">Logout</a>
                </div>
                <div class="nav-item member_dropdown_element">
                    <a class="navbar_button_content">Üye İşlemleri</a>
                </div>
                <div class="nav-item member_dropdown_element">
                    <a class="navbar_button_content">Üye İşlemleri</a>
                </div> *@
                <button class="nav-item button-57 member_dropdown_element" role="button" onclick="Logout()" style="width:100px">
                    <span class="text"><i class="fa-solid fa-door-open fa-2x"></i> </span>
                    <span> Sign out</span>
                </button>
                <button class=" member_dropdown_element nav-item button-57" role="button" onclick="Logout()">
                    <span class="text"><i class="fa-solid fa-book fa-2x"></i></span>
                    <span> Your Books</span>
                </button>
                <button class=" member_dropdown_element nav-item button-57" role="button" onclick="Logout()">
                    <span class="text"> <i class="fa-solid fa-user fa-2x"></i></span>
                    <span> Your Account</span>
                </button>
           
               
            </div>
        </div>
       
    </div>
</nav>



<div class="d-flex navbar_right_outcontainer">
   
</div>
<script src="~/js/navbar.js" asp-append-version="true"></script>
@* <script src="~/js/site.js"></script> *@